@charset "UTF-8";

.jump {
  text-decoration: none;
  display: block;
}
.jump:hover{
  text-decoration: underline;
}
header{
  background: rgba(45,45,45,0.98);
  height: 44px;
}

header a{
  color:#fff;
  font-weight: lighter;
  font-size:12px;
}

.header-inner{
  width:1080px;
  margin: 0 auto;
  text-align: center;
}
.header-inner li{
 float: left;
 width:10%;
 line-height:44px;
}


.main-vidual-inner{
    background:#fafafa;
    width:100%;
    margin-bottom: 20px;
}
.main-vidual-inner-box{
  width:692px;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3.1em;
  text-align:center;

}
.main-vidual-inner h1{
  color: #bbb;
  border: solid 1px  #bbb;
  border-radius: 3px;
  padding:6px 2px;
  display: block;
  width:118px;
  margin: 0 auto;
  margin-bottom: 1em;
}
.main-vidual-inner a{
   color:#0070c9;
}
.main-vidual-inner a::after{
  content:">";
  left:10px;
  color: #0070c9;
}
.main-vidual-inner h2{
  font-size: 28px;
  line-height:1.21875;
  /* letter-spacing: 0.07em; */
  font-weight: 600;
  margin-bottom: .2em;
}
.small{
  font-variant-caps: all-small-caps;
}
.nowwrap{
  display: inline-block;
text-decoration: inherit;
white-space: nowrap;
}
sup{
  font-size: 0.6em;
  bottom:-.1em;
}
.main-vidual-inner p{
  line-height:1.7;
  margin-bottom: .65em;
}
/* .box2-jump{
  width:100%;
  height: 100%;
} */
.jump-menu{
  width:180px;
  margin: 0 auto;
}
.box2 a{
  float: left;

}
.jump-menu a:last-child{
  margin-left: 20px;
}
.box2 h2,p{
 color:#000;
}
.box2 h2{
  font-size: 3em;
}
.iphone-images{
  width: 692px;
 height: 426px;
 background: url(../img/home/apple_watch_series_4_4aeff__f1uc849molqq_mediumtall_2x) no-repeat;
 background-size: 692px 426px;
}
.float-box{
  float:left;
  width:50%;
}
.sub-ttl{
  font-size: 0.6em;
  letter-spacing: 1.3px;
  color:red;
}
