@charset "UTF-8";
li{
  list-style: none;
  height: 60px;
}

.menu{
  width:980px;
  margin: 90px auto;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}
.menu-q{
  background: #666;
  color:#fff;
  margin-bottom: 90px;
}
.menu-a{
  background: #000;
  color:#fff;
  display: none;
}
